# Created by .ignore support plugin (hsz.mobi)
*.js.map
*.log
product
typings
public/bower_components

public/favicons
public/img
public/applications/img
electron
public/fonts/photon-entypo.eot
public/fonts/photon-entypo.svg
public/fonts/photon-entypo.ttf
public/fonts/photon-entypo.woff
test1.ts
test2.ts
test3.ts
tmp
public/images/banner.mp4
public/images/banner.ogv
public/images/banner.webm
front_controllers2.ts
package-lock.json
package_original.json
