doctype html
html(style="height:100%;")
    head
        meta(charset='utf-8')
        meta(name="format-detection", content="telephone=no")
        meta(name="msapplication-tap-highlight", content="no")
        meta(name="viewport", content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height")
        title Error
        link(rel="stylesheet", type="text/css", href="/systems/stylesheets/font.css" async)
        link(rel="stylesheet", type="text/css", href="/systems/stylesheets/styles.css" async)
    body(style="background:linear-gradient(to right bottom, #455A64, #252a34);")
        .container-fluid(style="text-align:center;")
            article(style="margin:10vw;")
                h1.limelight.title-shadow(style="font-weight: 700;margin: 5vw 0 2vw 0;font-size: 14.0vw;text-align:left;") #{status}
                p.quicksand.title-shadow(style='font-weight: 100;margin: 2vw 0 2vw 0;font-size: 6vw;') #{message}
