.container(style={display: "flex", "flex-direction": "column"})
    .row(style={width: "auto", padding: "0"})
        .col-12.text-center
            .card
                .card-body(style={color: "#333", "font-size": "1rem"})
                    div(style={padding: "1rem"})
                        .table.row(style={margin: 0})
                            .title-cell.col-4 is not Logined
                            .title-cell.col-4 server
                            .title-cell.col-4 client
                            .row-cell.col-4 guest
                            .cell.col-4 if !role.guest
                            .cell.col-4 ng-if="!role.guest"
                    div(style={padding: "1rem"})
                        .table.row(style={margin: 0})
                            .title-cell.col-4 is Logined
                            .title-cell.col-4 server
                            .title-cell.col-4 client
                            .row-cell.col-4 guest
                            .cell.col-4 if role.guest
                            .cell.col-4 ng-if="role.guest"
                            .row-cell.col-4 temp
                            .cell.col-4 if role.temp
                            .cell.col-4 ng-if="role.temp"
                            .row-cell.col-4 member
                            .cell.col-4 if role.member
                            .cell.col-4 ng-if="role.member"
                            .row-cell.col-4 user
                            .cell.col-4 if role.user
                            .cell.col-4 ng-if="role.user"
                            .row-cell.col-4 system
                            .cell.col-4 if role.system
                            .cell.col-4 ng-if="role.system"
                    div(style={padding: "1rem"})
                        .table.row(style={margin: 0})
                            .title-cell.col-4 is Local
                            .title-cell.col-4 server
                            .title-cell.col-4 client
                            .row-cell.col-4 Local
                            .cell.col-4 if role.categoly = 0
                            .cell.col-4 ng-if="role.categoly = 0"
                    div(style={padding: "1rem"})
                        .table.row(style={margin: 0})
                            .title-cell.col-4 is OAuth
                            .title-cell.col-4 server
                            .title-cell.col-4 client
                            .row-cell.col-4 OAuth
                            .cell.col-4 if role.categoly = 1
                            .cell.col-4 ng-if="role.categoly = 1"

                    div(ng-controller="AccountController")
                        div(ng-repeat="account in accounts") {{account.nickname}}